---
// Page Layout
import Layout from '../layouts/Layout.astro';
// Sections
import Hero from '@/components/sections/home/Hero.astro';
import CoreServices from '@/components/sections/home/CoreServices.astro';
import ExtraServices from '@/components/sections/home/ExtraServices.astro';
import CTA from '@/components/sections/shared/CTA.astro';
---

<Layout
	title="Home - Worksite Leads"
	description="Welcome to our company homepage"
	hasHero={true}
>
	<Hero
		title="<span class='text-primary-500'>Attract More Clients,</span> <br class='hidden lg:block'>Serve Them Better, Keep them Longer"
		subtitle="Helping business get more lead, operate more efficiently & make more money"
		bodyText=""
		ctaText="Schedule a Call"
		ctaHref="/contact"
	/>

	<CoreServices />
	<ExtraServices
		title="Keep Jobs Moving and Leads Coming In"
		subtitle="We build more than websites — we give you practical tools to save time, get more reviews, stay organized, and win more work without chasing it."
	/>
	<CTA />
</Layout>
