---
// Layout
import Layout from '@/layouts/Layout.astro';
// Sections
import SubPageHero from '@/components/sections/shared/SubPageHero.astro';
import ScheduleFormEmbed from '@/components/ui/forms/ScheduleFormEmbed.astro';
import Testimonials from '@/components/sections/shared/Testimonials.astro';
import Portfolio from '@/components/sections/shared/Portfolio.astro';
import CTA from '@/components/sections/shared/CTA.astro';
---

<Layout
	hasHero={true}
	title="Schedule a Call - Worksite Leads"
	description="Schedule a call with our team to discover how we can help your business grow."
>
	<SubPageHero
		eyebrow="Ready to Start?"
		title="Schedule a Call"
		description="Hop on a quick & easy, no risks, no obligations call with us to see how we can help."
		class=""
		layout="vertical"
	>
		<div
			slot="after-content"
			class="w-full h-fit overflow-hidden"
		>
			<ScheduleFormEmbed client:load />
		</div>
	</SubPageHero>
	<Testimonials backgroundColor="bg-gray-50" />
	<Portfolio />
	<CTA />
</Layout>
