---
// Layout
import Layout from '@/layouts/Layout.astro';
// Sections
import SubPageHero from '@/components/sections/shared/SubPageHero.astro';
import Testimonials from '@/components/sections/shared/Testimonials.astro';
import Portfolio from '@/components/sections/shared/Portfolio.astro';
import CTA from '@/components/sections/shared/CTA.astro';
---

<Layout
	hasHero={true}
	title="Schedule a Call - Worksite Leads"
	description="Schedule a call with our team to discover how we can help your business grow."
>
	<SubPageHero
		eyebrow="Ready to Start?"
		title="Schedule a Call"
		description="Hop on a quick & easy, no risks, no obligations call with us to see how we can help."
		class=""
		layout="vertical"
	>
		<div
			slot="form"
			class="w-full h-fit overflow-hidden"
		>
			<iframe
				src="https://api.leadconnectorhq.com/widget/booking/wVqUyNTRTAkNiRa1bPTA"
				style="width: 100%;border:none;overflow-y: scroll;"
				scrolling="no"
				id="2YLsJZYrXQYyjn9CfuDB_1752561372942"
			></iframe>
		</div>
	</SubPageHero>
	<Testimonials backgroundColor="bg-gray-50" />
	<Portfolio />
	<CTA />
</Layout>

<script
	src="https://link.msgsndr.com/js/form_embed.js"
	type="text/javascript"
></script>
