---
// Layout
import Layout from '@/layouts/Layout.astro';
// Sections
import SubPageHero from '@/components/sections/shared/SubPageHero.astro';
import ValueProposition from '@/components/sections/shared/ValueProposition.astro';
import Benefits from '@/components/sections/shared/Benefits.astro';
import Testimonials from '@/components/sections/shared/Testimonials.astro';
import Portfolio from '@/components/sections/shared/Portfolio.astro';
import CTA from '@/components/sections/shared/CTA.astro';
import ButtonGroup from '@/components/groups/ButtonGroup.astro';

// Images & Media
import Star from '@/assets/icons/Star.astro';
---

<Layout
	hasHero={true}
	title="Website Development | Design & Development Services - Worksite Leads"
	description="100% custom coded website design and development services."
>
	<SubPageHero
		eyebrow="100% Custom Coded"
		title="Website Design & Development"
		description="No page-builders or WordPress. We do things a little differently. Instead of using page-builders or WordPress, we hand write all the code for our sites from the bottom up."
		class=""
		hasHeroImage={false}
	>
		<ButtonGroup slot="after-description" />
		<!-- <div
			slot="after-content"
			class="w-full h-fit overflow-hidden mt-10"
		>
			<Image
				src={HeroImage}
				alt="temporary"
			/>
		</div> -->
	</SubPageHero>
	<ValueProposition
		title="Turn Great Work Into a Steady Stream of New Clients"
		subtitle="Your Best Jobs Should Bring You Your Next Jobs"
		body="Every project you finish is a chance to earn the next one. A well-built website shows off your craftsmanship, builds trust with new clients, and proves you take your business seriously. <br><br>We design and build sites that showcase your skills, build credibility, and make it easy for potential clients to say yes."
	/>
	<Benefits
		subtitle="First Impressions Matter"
		title="Give People a Reason to Pick You Over the Next Guy"
	/>
	<Testimonials backgroundColor="bg-gray-50" />
	<Portfolio />
	<CTA />
</Layout>

<script
	src="https://link.msgsndr.com/js/form_embed.js"
	type="text/javascript"
></script>
