<section
	id="hero"
	class="bg-container"
>
	<div class="section-wrapper">
		<div class="content-container">
			<div class="text-wrapper">
				<div class="headings">
					<h1 class="title">
						Attract More Clients, Serve Them Better, Keep them Longer
					</h1>
					<h2 class="subtitle">
						Helping business get more lead, operate more efficiently & make more
						money
					</h2>
				</div>
				<ul class="list-items">
					<li class="item"><span>logo-checkmark</span>Full Website Design</li>
					<li class="item">
						<span>logo-checkmark</span>Lead Generation & Follow-up Automations
					</li>
					<li class="item">
						<span>logo-checkmark</span>No Technical Skills or Marketing
						Experience Needed
					</li>
				</ul>
			</div>
			<div class="link-group">
				<button>Schedule a Call</button>
				<a>Learn More</a>
			</div>
			<div class="video-container">
				<video src="">Video</video>
			</div>
		</div>
	</div>
</section>
