---
const {
	text = 'Schedule a Call',
	backgroundColor = 'bg-primary-500',
	textColor = 'text-gray-700',
} = Astro.props;
---

<a
	href=""
	class={`px-4 py-6 md:px-8 ${backgroundColor} ${textColor}`}
>
	{text}
</a>
