---
import Button from '../ui/buttons/Button.astro';

interface Props {
	learnMoreHref?: string;
	type?: 'button' | 'link';
	variation?: 'primary' | 'secondary';
	linkColor?: string;
	class?: string;
}

const {
	variation = 'primary',
	type,
	learnMoreHref = '/',
} = Astro.props as Props;
---

<div class="flex gap-3 items-center">
	<Button
		text="Schedule a Call"
		href={'/schedule-call'}
		variation={variation}
	/>
	<Button
		href={learnMoreHref}
		variation={variation}
		type={'link'}
		text="Learn More"
	/>
</div>
