---
// View Transition
import { ClientRouter } from 'astro:transitions';

import '@/styles/custom-styles.css';
import '@/styles/global.css';
import '@/styles/fluid-typography.css';
import '@/styles/fluid-layouts.css';

// Layout.astro
import Header from '@/components/ui/navigation/Header.astro';
import Footer from '@/components/ui/navigation//Footer.astro';

interface Props {
	title?: string;
	description?: string;
	hasHero?: boolean; // Flag to indicate if page has hero section
}

const {
	title = 'Worksite Leads',
	description = 'Digital Agency servicing blue collar works within Canada and the United States.',
	hasHero = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<ClientRouter />
		<title>{title}</title>

		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/aos@next/dist/aos.css"
		/>
	</head>
	<body class="font-sans antialiased">
		<!-- Header with conditional styling for hero pages -->
		<Header isOverlay={hasHero} />

		<!-- Main content -->
		<main class={hasHero ? 'relative' : ''}>
			<slot />
		</main>

		<Footer
			footerText="Committed to providing businesses with innovative solutions that attract more clients, serve them better & keep them longer."
		/>
		<slot name="scripts" />
	</body>
</html>
