---
// Layout.astro
import { ClientRouter } from 'astro:transitions';
import Head from '@/components/Head.astro';
import Header from '@/components/ui/navigation/Header.astro';
import Footer from '@/components/ui/navigation/Footer.astro';

import '@/styles/custom-styles.css';
import '@/styles/global.css';
import '@/styles/fluid-typography.css';
import '@/styles/fluid-layouts.css';

interface Props {
	title?: string;
	description?: string;
	hasHero?: boolean;
}

const {
	title = 'Worksite Leads',
	description = 'Digital Agency servicing blue collar works within Canada and the United States.',
	hasHero = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head
		{title}
		{description}
	/>
	<body class="font-sans antialiased">
		<ClientRouter />

		<Header isOverlay={hasHero} />
		<main class={hasHero ? 'relative' : ''}>
			<slot />
		</main>
		<Footer />
		<slot name="scripts" />
	</body>
</html>
