---
interface Props {
	title: string;
	subtitle: string;
	class?: string;
	backgroundColor?: string;
}

const {
	title = 'Title',
	subtitle = 'subtitle',
	class: className,
	backgroundColor = 'bg-gray-100',
} = Astro.props as Props;
---

<section class={`px-4 py-9 ${backgroundColor}`}>
	<div class="content-container flex flex-col gap-8 lg:gap-10">
		<!-- Section Header -->
		<div class="text-left md:text-center max-w-3xl mx-auto flex flex-col gap-3">
			<h2
				id="services-heading"
				class="heading-l1"
				set:html={title}
			/>
			<p class="capitalize wsl-text-lg text-gray-600 leading-relaxed">
				{subtitle}
			</p>
		</div>
		<slot />
	</div>
</section>
