---
// Hero.astro
import { Image } from 'astro:assets';
import heroBg from '@/assets/home-banner-bg.png';

interface Props {
	eyebrow?: string;
	title?: string;
	description?: string;
	bodyText?: string;
}

const {
	title = 'Sub-Page Title',
	eyebrow = 'Eyebrow Text',
	description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
} = Astro.props;
---

<section class="relative overflow-hidden">
	<!-- Background Image -->
	<div class="absolute inset-0 z-0">
		<Image
			src={heroBg}
			alt=""
			class="w-full h-full object-fill object-top min-h-full lg:w-full"
			loading="eager"
			fetchpriority="high"
			format="webp"
			quality={90}
			densities={[1, 2]}
		/>
		<!-- Overlay -->
		<div class="absolute inset-"></div>
	</div>

	<!-- Content Container -->
	<div
		class="content-container relative z-10 min-h-screen flex flex-col gap-10 items-center md:flex-row md:flex-start"
	>
		<!-- Main Content Area -->
		<div
			class="flex flex-col gap-5 justify-center md:max-w-[45%] pt-28 md:pt-32 lg:pt-20"
		>
			<div class="flex flex-col">
				<span
					class="text-primary-500 wsl-text-lg font-extrabold font-montserrat capitalize"
					set:html={eyebrow}
				/>
				<!-- Main Heading -->
				<h1
					class="heading-l1 text-gray-50 capitalize"
					set:html={title}
				/>
			</div>
			<div class="flex flex-col gap-10">
				<p
					class="text-gray-100"
					set:html={description}
				/>
				<slot name="list-items" />
			</div>
		</div>

		<!-- Form Section  -->
		<div class="pb-10 lg:pb-20 w-full md:max-w-[45%] md:pt-32 lg:pt-20">
			<slot name="form" />
		</div>
	</div>
</section>
