---
import SectionContainer from './SectionContainer.astro';
import TestimonialCard from '@/components/ui/cards/TestimonialCard.astro';
// Image Imports

import placeHolderImage from '@/assets/worksiteleads-logo.png';

type Testimonial = {
	client: string;
	review: string;
	city?: string;
	company?: string;
};

const testimonials: Testimonial[] = [
	{
		client: 'name',
		review: 'so good',
	},
	{
		client: 'name',
		review: 'so good',
	},
	{
		client: 'name',
		review: 'so good',
	},
	{
		client: 'name',
		review: 'so good',
	},
	{
		client: 'name',
		review: 'so good',
	},
	{
		client: 'name',
		review: 'so good',
	},
];

interface Props {
	title?: string;
	subtitle?: string;
}

const {
	title = 'Reviews',
	subtitle = 'Trusted by industry leaders to take their businesses to the next level',
} = Astro.props as Props;
---

<SectionContainer
	title="Reviews"
	subtitle="Trusted by industry leaders to take their businesses to the next level"
>
	<div class="portfolio-card-group flex flex-wrap gap-5">
		{
			testimonials.map((testimonial) => (
				<TestimonialCard
					client={testimonial.client}
					review={testimonial.review}
				/>
			))
		}
	</div>
</SectionContainer>
